.mainContainer {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100vh;
  min-width: 1120px;
  min-height: 900px;
  display: grid;
  grid-template-columns: [line1] 35% [line2] 65% [line3];
  grid-template-rows: [row1] 5% [row2] 90% [row3] 5% [row4];
  margin: auto;
}

.meetMainContainer {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100vh;
  min-width: 1120px;
  min-height: 900px;
  display: grid;
  grid-template-columns: [line1] 50% [line2] 50% [line3];
  grid-template-rows: [row1] 5% [row2] 90% [row3] 5% [row4];
  margin: auto;
}

.header {
  border: 1px solid #f0f0f0;
  grid-row: 1/2;
  grid-column: 1/3;
  background: white;
  z-index: 1;
  position: relative;
}

.leftContainer {
  grid-column: 1/2;
  grid-row: 1/3;
  background: #fefcef;
  position: relative;
}

.rightContainer {
  grid-column: 2/3;
  grid-row: 1/3;
  position: relative;
  /* display: grid;
    grid-template-columns:[line1] 30% [line2] 40% [line3] 30% [line4];
    grid-template-rows:[row1] 20% [row2] 60% [row3] 20% [row4]; */
}

.wholeContainer {
  grid-column: 1/3;
  grid-row: 2/3;
  position: relative;
}

.leftFooter {
  grid-column: 1/2;
  grid-row: 3/4;
  /* background: #fefcef; */
}

.rightFooter {
  grid-column: 2/3;
  grid-row: 3/4;
}

.leftFooter > div {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #808080;
  margin-left: 5%;
}

.rightFooter > div {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #808080;
  /* margin-left: 90%; */
  float: right;
  margin-right: 5%;
}

.title {
  width: 100%;
  position: absolute;
  /* left: 20%; */
  top: 70%;
  display: flex;
  justify-content: center;
  /* border: 1px solid #D8D8D8; */
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 46px;
  color: #ffa601;
}

.meetTable {
  width: 1488px;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0%);
}

.cell {
  width: 50px;
  height: 20px;
  cursor: pointer;
  /* border: 1px solid black; */
  margin: 1px;
  border-radius: 8px;
}

.cellIntro {
  width: 50px;
  height: 20px;
  /* justify-content: "center";
    align-items: "center";
    display: "flex"; */
  /* border: 1px solid black; */
  margin: 1px;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
}

.cellIntroBlock {
  display: flex;
  margin-left: 54px;
}

.cell:active {
  background-color: blue;
}

/* .table-row-light {
    background-color: #FDF3D1;
}
.table-row-dark {
    background-color: #fbfbfb;
}

.meetTable thead > tr > th {
    background-color: #FDF3D1;
} */
