.mainContainer {
    /* border: 1px solid blue; */
    width:100%;
    height:100vh;
    min-width: 1120px;
    min-height: 900px;
    display:grid;
    grid-template-columns:[line1] 35% [line2] 65% [line3];
    grid-template-rows:[row1] 95% [row2] 5% [row3];
    margin: auto;
}

.leftContainer {
    grid-column: 1/2;
    grid-row: 1/2;
    background: #fefcef;
}

.rightContainer {
    grid-column: 2/3;
    grid-row: 1/2;
    /* display: grid;
    grid-template-columns:[line1] 30% [line2] 40% [line3] 30% [line4];
    grid-template-rows:[row1] 20% [row2] 60% [row3] 20% [row4]; */
}

.leftFooter {
    grid-column: 1/2;
    grid-row: 2/3;
    background: #fefcef;
}

.rightFooter {
    grid-column: 2/3;
    grid-row: 2/3;
}

.leftFooter > div {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #808080;
    margin-left: 5%;
}

.rightFooter > div {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #808080;
    /* margin-left: 90%; */
    float: right;
    margin-right: 5%;
}

.title {
    position: relative;
    /* left: 20%; */
    top: 70%;
    display: flex;
    justify-content: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 46px;
    color: #ffa601;
}

.resetContainer {
    /* grid-column: 2/3;
    grid-row: 2/3; */
    width: 30%;
    height: 20%;
    min-width: 300px;
    min-height: 200px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #D8D8D8;
    border-radius: 5%;
    padding: 10% 10%;
    text-align: center;
}

h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
}