.loginContainer {
    /* grid-column: 2/3;
    grid-row: 2/3; */
    width: 30%;
    min-width: 300px;
    min-height: 400px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #D8D8D8;
    border-radius: 5%;
    padding: 3% 5%;
    text-align: center;
}

h1 {
    font-style: normal;
    font-weight: 500;
}